Add support for changing Syslog Formats

Currently only a single standard Syslog Format is supported. Additional formats should be supported.

- [RFC 3164](https://tools.ietf.org/html/rfc3164) *The BSD syslog Protocol (obsoleted by RFC 5424)*
- [RFC 3195](https://tools.ietf.org/html/rfc3195) *Reliable Delivery for syslog*
- [RFC 5424](https://tools.ietf.org/html/rfc5424) *The Syslog Protocol*
- [RFC 5425](https://tools.ietf.org/html/rfc5425) *TLS Transport Mapping for Syslog*
- [RFC 5426](https://tools.ietf.org/html/rfc5426) *Transmission of Syslog Messages over UDP*
- [RFC 5427](https://tools.ietf.org/html/rfc5427) *Textual Conventions for Syslog Management*
- [RFC 5848](https://tools.ietf.org/html/rfc5848) *Signed Syslog Messages*
- [RFC 6012](https://tools.ietf.org/html/rfc6012) *Datagram Transport Layer Security (DTLS) Transport Mapping for Syslog*
- [RFC 6587](https://tools.ietf.org/html/rfc6587) *Transmission of Syslog Messages over TCP*